@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

.App {
  display: flex;
  justify-content: center;
  background-color: #161020;
  height: 100vh;
  padding: 0;
  margin: 0;

  .main-container {
    min-width: 476px;
    display: flex;
    flex-direction: column;

    .header {
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 50px 0;

      .header-text {
        color: rgb(142, 172, 255);
        font-size: 18px;
        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: 6px;
      }
    }

    .content-container {
      display: flex;
      justify-content: center;
      width: 100%;
      flex-direction: column;

      .beat-visual {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 266px;

        .circle {
          position: absolute;
          width: 132px;
          height: 132px;
          border-radius: 50%;
          background-color: #64bca4;
          display: flex;
          justify-content: center;
          align-items: center;

          .selected-bpm {
            opacity: 0.5;
            font-weight: normal;
            color: #161020;
            font-size: 24px;
          }
        }

        .circle-shadow {
          @extend .circle;
        }

        .circle-shadow-animate {
          @extend .circle;

          animation-name: circle-beat;
          animation-duration: 0.6777s;
          animation-iteration-count: infinite;
        }
      }

      .beat-selection {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 0 17%;
        margin-top: 35px;

        .bpm-selection-button {
          width: 86px;
          height: 35px;
          border: 0;
          background: #2d1c3f;
          border-radius: 5px;
          color: #8eacff;
          font-size: 14px;
          font-family: inherit;
          margin: 10px 0;
          cursor: pointer;
          outline: none;
        }

        .bpm-selection-button:hover {
          box-shadow: 0 0 15px 0 rgba(204, 204, 204, 0.719);
        }

        .bpm-selection-button-active {
          background-color: #8eacff;
          color: #161020;
        }
      }
    }
  }
}

@keyframes circle-beat {
  0% {
    transform: scale(1, 1);
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: scale(1.8, 1.8);
    opacity: 0.1;
  }
}
